<div class="f-block">
  <div class="f-block-title"><span>{$block['title']}</span></div>
  <div class="f-block-body">
    <div class="fb-page" data-href="https://www.facebook.com/{$block['data_custome']}" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/{$block['data_custome']}"><a href="https://www.facebook.com/{$block['data_custome']}">{$block['title']}</a></blockquote></div></div>
  </div>
</div>