<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf8"/>
</head>

<body>
    <p align='center'>Xin chào {name}</p>
    <p align='center'>Có một người dùng đã gửi tới bạn một thông tin qua <span style="color: rgba(199, 10, 10, 0.94);font-weight: bold;">{form}</span>:</p>
    <table style="min-width: 500px;border: aliceblue 1px;" cellspacing="0" cellpadding="4" border="1" align="center">
        <tr style="color: rgba(21, 65, 199, 0.84);font-weight: bold;">
            {head_tb}
        </tr>
        <tr>
            {content_tb}
        </tr>
    </table>
     <p align='center'>Cảm ơn khách hàng đã tin dùng dịch vụ của chúng tôi.</p>
     <p align='center' style="font-size: 11px;">Thông tin được gửi từ hệ thống <a href="https://webbnc.net/">Internet BNC</a>.</p>
</body>

</html>