  .box-search {
	    padding: 50px 0 50px;
	}
	#header { 
	    border-bottom: 5px solid #ff690f;
	}
	.home-box {
		margin-top: 20px;
    min-height: 500px;
	}
	.listchuyen{
		border-bottom: 1px solid #ccc;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}