<div class="wrapper">
    <!--{temp common/position_top}-->
    <div class="slidetop">
        bnc_position_block_5
    </div>
    <div class="main1">
        <div class="" style="padding-left:15px ; padding-right:15px">
            <div class="row row-offcanvas row-offcanvas-left">
                <div class="f-ctn-center ">
                    <p class="pull-left  hide">
                        <button type="button" class="btn btn-primary btn-xs hide" data-toggle="offcanvas">Ẩn / Hiện tiện ích BLOCK</button>
                    </p>
                    load_temp
                </div>
                <!--end f-ctn center-->
                <div class="f-ctn-right hide col-md-0 col-xs-0 col-sm-0 border-right">
                </div>
                <!--end f ctn-right-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
        <div class="clearfix"></div>
    </div>
    <!--end main1-->
    <!--{temp common/position_bottom}-->
</div>