  <!--################################## BEGIN REVOLUTION SLIDER -->
  <div class="clearfix"></div>
  <div class="f-slider"> 
    <!--{if isset($_slides)}-->
    <!-- Carousel
            ================================================== -->
    <div id="myslide" class="carousel slide" data-ride="carousel"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <!--{loop $_slides $k $v}--> 
        <!--{if !empty($v['image_slide'])}-->
        <!--{eval $image_slide = $v['image_slide']}-->
        <!--{loop $image_slide $key $val}--> 
        <li data-target="#myslide" data-slide-to="{$key}" class="<!--{if $key==0}-->active<!--{/if}-->"></li>
        
           <!--{/loop}-->
    <!--{/if}-->
    <!--{/loop}--> 
      </ol>
      <div class="carousel-inner">
        <!--{loop $_slides $k $v}--> 
        <!--{if !empty($v['image_slide'])}-->
        <!--{eval $image_slide = $v['image_slide']}-->
        <!--{loop $image_slide $key $val}--> 
        <div class="item <!--{if $key==0}-->active<!--{/if}-->"> 
          <img src="<!--{loadImage $val['src_link'] resize $val['width'] $val['height']}-->" alt="$val['title']">
          <div class="container">
            <div class="carousel-caption">
              <h1>$val['title']</h1>
              <p>$val['description']</p>
            </div>
          </div>
        </div>
         <!--{/loop}-->
    <!--{/if}-->
    <!--{/loop}--> 
         
        
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
    <!-- /.carousel --> 
    <!--{/if}-->
  </div>
  <!--################################## END REVOLUTION SLIDER -->
    <div class="clearfix"></div>

 