<!--{temp common/position_top}-->
<div class=" container"  >
  <div class="f-container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="layout-child product-detail">
       bnc_position_block_7
    </div>
    <div class="f-ctn-center new-detail col-md-9 col-xs-12 col-sm-9 ">
      <p class="pull-left visible-xs ">
        <button type="button" class="btn btn-primary btn-xs " data-toggle="offcanvas">Ẩn / Hiện tiện ích BLOCK</button>
      </p> 

    load_temp

    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 product-sidebar">
    	bnc_position_adv_adv_7
    	bnc_position_block_2
      bnc_position_adv_adv_2
    </div>

    
  </div>
</div>
</div>
<!--{temp common/position_bottom}-->
